# Data Overview & Cleaning

## Objective
Understand the structure and quality of the customer churn dataset, validate assumptions, and prepare the data for exploratory analysis.

In [1]:
import pandas as pd

churn_data = pd.read_csv("../data/customer_churn_business_dataset.csv")

In [2]:
churn_data.head()

,customer_id,gender,age,country,city,customer_segment,tenure_months,signup_channel,contract_type,monthly_logins,...,avg_resolution_time,complaint_type,csat_score,escalations,email_open_rate,marketing_click_rate,nps_score,survey_response,referral_count,churn
0,CUST_00001,Male,68,Bangladesh,London,SME,22,Web,Monthly,26,...,13.354360,Service,4.0,0,0.71,0.40,27,Satisfied,1,0
1,CUST_00002,Female,57,Canada,Sydney,Individual,9,Mobile,Monthly,7,...,25.140088,Billing,2.0,0,0.78,0.33,-19,Neutral,2,1
2,CUST_00003,Male,24,Germany,New York,SME,58,Web,Yearly,19,...,27.572928,Service,3.0,0,0.35,0.49,80,Neutral,1,0
3,CUST_00004,Male,49,Australia,Dhaka,Individual,19,Mobile,Yearly,34,...,26.420822,Technical,5.0,1,0.83,0.15,100,Neutral,0,0
4,CUST_00005,Male,65,Bangladesh,Delhi,Individual,52,Web,Monthly,20,...,26.674579,Technical,4.0,0,0.65,0.44,21,Unsatisfied,1,0

In [3]:
churn_data.shape

(10000, 32)

In [4]:
churn_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 32 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   customer_id             10000 non-null  object
 1   gender                  10000 non-null  object
 2   age                     10000 non-null  int64
 3   country                 10000 non-null  object
 4   city                    10000 non-null  object
 5   customer_segment        10000 non-null  object
 6   tenure_months           10000 non-null  int64
 7   signup_channel          10000 non-null  object
 8   contract_type           10000 non-null  object
 9   monthly_logins          10000 non-null  int64
 10  weekly_active_days      10000 non-null  int64
 11  avg_session_time        10000 non-null  float64
 12  features_used           10000 non-null  int64
 13  usage_growth_rate       10000 non-null  float64
 14  last_login_days_ago     10000 non-null  int64
 15  monthly_fee             10000 non-null  int64
 16  total_revenue           10000 non-null  int64
 17  payment_method          10000 non-null  object
 18  payment_failures        10000 non-null  int64
 19  discount_applied        10000 non-null  object
 20  price_increase_last_3m  10000 non-null  object
 21  support_tickets         10000 non-null  int64
 22  avg_resolution_time     10000 non-null  float64
 23  complaint_type          7955 non-null   object
 24  csat_score              10000 non-null  float64
 25  escalations             10000 non-null  int64
 26  email_open_rate         10000 non-null  float64
 27  marketing_click_rate    10000 non-null  float64
 28  nps_score               10000 non-null  int64
 29  survey_response         10000 non-null  object
 30  referral_count          10000 non-null  int64
 31  churn                   10000 non-null  int64
dtypes: float64(6), int64(14), object(12)
memory usage: 2.4+ MB

In [5]:
churn_data.nunique()

customer_id               10000
gender                        2
age                          57
country                       7
city                          7
customer_segment              3
tenure_months                59
signup_channel                3
contract_type                 3
monthly_logins               53
weekly_active_days            8
avg_session_time           9777
features_used                15
usage_growth_rate           104
last_login_days_ago          71
monthly_fee                   6
total_revenue               221
payment_method                3
payment_failures              6
discount_applied              2
price_increase_last_3m        2
support_tickets               8
avg_resolution_time        9883
complaint_type                3
csat_score                    5
escalations                   5
email_open_rate              81
marketing_click_rate         50
nps_score                   197
survey_response               3
referral_count                8
churn                         2
dtype: int64

## Understanding the Churn Definition

This dataset defines churn as:
- churn = 1 represents that a customer is likely to discontinue the service, 0 represents that a customer is unlikely to discontinue.

## Cleaning Decisions

No cleaning is necessary, as data is already cleaned (Kaggle source says the dataset is synthetic, but business-realistic).

## Next Steps

- Deeper segment-level churn analysis
- Explore interaction between tenure and engagement
- Visualize churn patterns across key customer groups